*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
section{
    width: 100%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    background-color: #477b47;
}
.header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    
}
.header ul{
    list-style: none;
    display: flex;
}
header ul li{
    padding: 15px;
  
}
header ul li a{
    text-decoration: none;
    color: white;
}
.banner{
    display: flex;
    justify-content: space-around;
    margin: 50px 10px 20px 10px;
    
    
}
.title{
    font-size: 2em;
}
.resume{
    width: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn-primary{
    width: 200px;
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 15px 25px;
    animation-name: flight-btn;
    animation-duration:  4s;
    animation-iteration-count: infinite;
}
@keyframes flight-btn {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -0.7%;
    }
}
.btn-primary:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.banner-resume{
    width: 950px;
    margin-left:20px ;
}
.img-profile{
    width: 70%;
    border-radius: 100%;
    margin-left: 60px;
}
.more-aboutme{
    display: none;

}
h2:hover + .more-aboutme{
    display: block;
}
/* PROJECT SECTION */
.projects{
    display: flex;
    height: 900px;
}
.section-tags{
    display: flex;
    justify-content: start;
    width: 8%;
    
}
.tags{
    
    width: 50%;
    height: 100%;
}
.outter-tag{
    background-color: lightblue;
    height:100%;
}
.outter-tag h4{
    font-size: 35px;
    height: 100%;
    text-align: center;
    margin-top: 250px;
  

}
.tags div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 50%;
    align-items: center;
    border: 1px solid black;
    border-bottom-right-radius: 15% ;
    border-top-right-radius: 15%;
    background-color: #ff6464;
    cursor: pointer;
   
}
.hidden-tag{
    display: none;
 
   
}


.tags div:hover  .hidden-tag{
    display: block;
}
.tags div:hover{
    transform: scale(1.01);

}
.section-works{
    width: 92%;
    height: 100%;
}
.card-container{
    height: 50%;
    width: auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.card{
    width: 33%;
    height: 90%;
}
.card-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.reto1{
    background-image: url(./src/reto1.png);
    animation-name: gradient;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
.card-img + div{
    background-color: black;
    height: 20%;
}


@keyframes gradient {
    0%{
        background: linear-gradient(to right bottom,gold, transparent,
        transparent ,transparent ),url(./src/reto1.png);height:80%;background-size: cover;
    }
    50%{
        background: linear-gradient(to right bottom, 
        transparent,gold,transparent,transparent ),url(./src/reto1.png);height:80%;background-size: cover;
    }
    70%{
        background: linear-gradient(to right bottom, transparent,transparent
       ,transparent,gold,transparent),url(./src/reto1.png);height:80%;background-size: cover;
    }
    100%{
        background: linear-gradient(to right bottom, 
        transparent,transparent,transparent,gold  ),url(./src/reto1.png);height:80%;background-size: cover;
    }
}
