*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html,body{
    height: 100%;
 }
 /* Contenedor Principal */
 .container{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
 }
 /* Form */
 /* Form Container */
 .form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 /* Button Submit */
 .btn-submit{
    padding: 10px 0px;
 }
 /* Tamaño del input y Propiedades */
 .input,.input-container{
    width: 328px;
    height: 56px;
 }
 .input{
    border:1px solid #979797;
    border-radius: 4px;
 }
 .input-container{
    position: relative;
    display: flex;
    align-items: center;
 }
 /* Texto del input */
 .label{
    position: absolute;
    left:16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    transition: .5s;
   }
 /* Focus al input y cambia el texto (Label) + valid*/
 input:focus + i +label, .animation-input + i + label {
    top:-12%;
    font-size: 12px;
    color: #6200EE;
    background:transparent; 
 }
 /* Atributo del input al hacerse Focus + valid */
 input:focus, .animation-input{
 outline: none;
 padding-left:16px;
 } 
 input:focus{
    border:1px solid #6200EE;
 }
 /* Apertura del borde para que suba el label */
 i::after{
    content:'';
    position: absolute;
    top:0;
    left:33px;
    height: 2px;
    width: 0px;
    letter-spacing: 10px;
    background:#fff;
    transform: skewX(-45deg);
      transition: 0.2s;
 }
 /* Movimiento de apertura del borde para que suba el label */
 input:focus + i::after, .animation-input + i::after{
    width: 10px;
    transform: scale(5.2);
    letter-spacing: 50px;
    } 
 /* Icono de error con sus atributos */
 .input-container span{
    position: absolute;
    right:12px;
    color:#B30020;
    display:none;
 }
   /*  Falta hacer */
 .invalid{
    color: #B30020 !important;
    animation-name: moverror;
    animation-duration: 0.2s;
 }
 @keyframes moverror {
       0%   {
          transform: translateX(0%);      
       }
       25%  {
          transform: translateX(5%);      
       }
       50%  {
          transform: translateX(0%); 
       }
       75%  {
          transform: translateX(-5%);
       }
       100% {
          transform: translateX(0%);  
       }
     }
     /* Texto error */
     .text-error{
        color:#B30020;
        font-size: 0.8rem;
        display: none;
        margin-left: 10px;
     }
     /* test */

     input[value="1"]{
        color: #6200EE !important;
        background-color: blue !important;
     }