:root{
    --color-primary-1:hsl(205,86%,17%);
    --color-primary-2:hsl(205,76%,27%);
    --color-primary-3:hsl(205,72%,47%);
    --color-primary-4:hsl(205,62%,57%);
    --color-primary-5:hsl(205,52%,37%);
    --color-primary-6:hsl(205,42%,67%);
    --color-primary-7:hsl(205,42%,47%);
    --color-primary-8:hsl(205,42%,77%);
    --color-primary-9:hsl(205,42%,87%);
    --color-primary-10:hsl(205,42%,89%);
    /* ------------------------------------------------- */
    --clr-grey-1:hsl(209,58%,30%);
    --clr-grey-2:hsl(209,48%,30%);
    --clr-grey-3:hsl(209,38%,30%);
    --clr-grey-4:hsl(209,28%,30%);


    --clr-black:#222;
    --ff-primary:"Roboto";
    --transition:all 0.3s linear;
    --spacing:0.25rem;
    --radius:0.5rem;

}

body{
    font-family: var(--ff-primary);
    background-color: var(--clr-grey-1);
    color:var(--clr-primary-8);
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.btn{
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--radius);
    border-radius: var(--radius);
    cursor: pointer;
   padding: 20px 100px;
}
.btn:hover{
    color: var(--color-grey-4);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    border: 1px solid gray;
    
    width: 35%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
h2{
    background-color: #222;
    padding: 10px;
    width: 80%;
}
